# Built on npm run build
.next
public/timeline/dist
!public/timeline/dist/tinycolor.js
jredirects/dist.js
public/sitemap.xml


# Secrets
**/.env
api.joelgrayson.com/private
api.joelgrayson.com/node_modules


# Bloat
**/node_modules
.vscode


# MacOS-Specific
**/.DS_Store
Icon


# Large Files (so Github doesn't complain)
public/combating-climate-change/Combating Climate Change.pptx
/TODO
*.mp4

