# Private Secrets
**/.env
api.joelgrayson.com/private


# Bloat
**/.DS_Store
node_modules
.next
.vscode


# Large Files (so Github doesn't complain)
public/combating-climate-change/Combating Climate Change.pptx
/TODO
*.mp4
