# Built on npm run build
.next
public/timeline/dist
!public/timeline/dist/tinycolor.js
jredirects/dist.js
out
not included
subroutines/testing


# Secrets
**/.env
api.joelgrayson.com/private
api.joelgrayson.com/node_modules


# Bloat
**/node_modules
.vscode


# MacOS-Specific
**/.DS_Store


# Large Files (so Github doesn't complain)
# Redirected to a Drive download link in the drive web hosting for joelgrayson.com: https://drive.google.com/drive/u/1/folders/1ZU-p24kaWraOvCeXp7saB7Vkv2vpzSjP
public/combating-climate-change/Combating Climate Change.pptx
public/maths/joels-sas-formula/explanation.mp4
/TODO
next-env.d.ts

