@font-face {
    font-family: Avenir;
    src: url('/styles/fonts/Avenir\ Book.ttf');
}
@font-face {
    font-family: AvenirMedium;
    src: url('/styles/fonts/Avenir\ Medium.ttf');
}
@font-face {
    font-family: Myriad;
    src: url('/styles/fonts/Myriad\ Pro\ Bold.ttf');
}

body {
    margin: 0;
    padding: 0;
}

#title {
    text-align: center;
    font-family: Myriad;
    user-select: none;
}

#container {
    width: 100vw;
    display: flex;
    justify-content: center;
}

#timeline {
    border: 1px solid black;
    /* width set by JS so whole number only */
}
