#title {
    text-align: center;
    margin-bottom: 3rem;
}

h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.grid {
    display: grid;
}

.item {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.item img {
    padding-right: 10px;
}
