#cardboard-computer {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 20px;
    top: 40px;
}
#title {
    text-align: center;
    margin-top: 2rem;
}
#subtitle {
    text-align: center;
    margin-bottom: 3rem;
}

h2 {
    text-align: center;
    margin-bottom: 2rem;
}

summary {
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 9px;
}

.grid {
    display: grid;
}

.item {
    display: flex;
    align-items: center;
    padding: 10px 30px;
    border: 1px solid #ccc;
}

.imageless-item {
    border: 1px solid #ccc;
    padding: 10px 30px;
}

.item img {
    padding-right: 10px;
}


/* Markdown */
.markdown-h1 { font-weight: bold; font-size: 1.5rem; }
.markdown-h2 { font-weight: bold; font-size: 1.3rem; }
.markdown-h3 { font-weight: bold; font-size: 1.1rem; }
.markdown-h4 { font-weight: bold; font-size: 1rem; }

/* Regex
Replace (?<!#)##[^#](.*)
   with <div class='markdown-h2'>$1</div>
 */


/* j_table */
table.styled {
    border-collapse: collapse;
    background-color: #ddf;
}
table.styled td, table.styled th {
    border: 1px solid #aaa;
    padding: .2rem .5rem;
}
table.styled>tbody>tr+tr>th {
    text-align: left;
}


/* Processing */
#processing-grid-container {
    height: 1000px;
}

#processing-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    transform: scale(0.4);
    transform-origin: top left;
    place-items: center;
}
#processing-grid p {
    text-align: center;
    font-size: 50px;
    margin-top: 0;
    padding-top: 0;
}


/* Mobile-friendly */
@media (max-width: 1000px) {
    #processing-grid-container {
        height: 1490px;
    }
    #processing-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 840px) {
    #cardboard-computer {
        visibility: hidden;
    }
}

@media (max-width: 690px) {
    #processing-grid-container {
        height: 2450px;
    }
    #processing-grid {
        grid-template-columns: repeat(1, 1fr);
    }
    
}


