.talking {
    opacity: 0;
    transition: none;
    animation: none;
}


.leftImgContainer {
    position: relative;
    width: 400px;
}
.leftImgContainer svg {
    position: absolute;
    right: 21px;
    bottom: 10px;
    /* transform: scaleY(0.88) scaleX(0.91); */
    /* show at top
    visibility: hidden;
    */
    z-index: 11;
}

.circle {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 80px;
    right: 110px;
    background-color: #ecaa4b;
    border-radius: 50%;
    /* border: 1px solid red; */
    z-index: 1;
}