.talking {
    position: absolute;
    left: -250px;
    top: 40px;
    zoom: 0.94;
    z-index: -1;
}

.form {
    position: relative;
    padding: 0;
    z-index: 1;
}

.listening {
    position: absolute;
    right: -310px;
    bottom: 101px;
    zoom: 0.9;
}