/* applies to a.j-link and .gradient-text */

a.j-link {
    cursor: pointer;
    color: #0000e1;
    text-decoration: underline;
}
a.j-link:hover,
.gradient-text,
.gradient-text * { /* gradient text onHover */
    color: #fa00f2; /* backup for browsers not supporting text gradient */
    background: -webkit-linear-gradient(45deg, #fa00f2 0%, #000acd 60%, #00299d 100%); /* blue/purple gradient text */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: underline; /* does not work because of -webkit-background-clip */
}
a.j-link>.btn-red:hover { /* .btn-red hover color is white */
    background-clip: unset;
    -webkit-text-fill-color: white;
    color: white;
    font-family: Avenir;
}
