/* <Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* > */

/**|| <Font (sorted by boldness) */
@font-face {
    font-family: Avenir;
    src: url('./fonts/Avenir\ Book.ttf');
}
@font-face {
    font-family: AvenirMedium;
    src: url('./fonts/Avenir\ Medium.ttf');
}
@font-face {
    font-family: Myriad;
    src: url('./fonts/Myriad\ Pro\ Bold.ttf');
}
/* > */

/**|| <Globals */
html, body {
    padding: 0;  
    margin: 0;
    font-family: Avenir, AvenirMedium, Myriad Segoe UI, Roboto, Helvetica Neue, sans-serif;
}
* {
    box-sizing: border-box;  
    transition: all 0.3s ease
}
*::selection { /* yellow highlight color */
    background-color: #f9c44d;
}
main p, main div, main button, main li { /* vertical padding in page */
    padding: 10px 0;
}
input[type='submit'] {
    cursor: pointer;
}
/* > */


/**|| <DOMElements */
/* Headers */
h1, h2, h3, h4, h5 {
    font-family: AvenirMedium;
    line-height: 1.8;
}
h1 { font-size: 3.4rem; font-family: Myriad; margin-top: 10px; }
h2 { font-size: 2.1rem; margin-top: 8px; }
h3 { font-size: 1.6rem; margin-top: 7px; }
h4 { font-size: 1.3rem; margin-top: 6px; }
h5 { font-size: 1.2rem; margin-top: 5px; }
h6 { font-size: 1.1rem; margin-top: 4px; }
.bold {
    font-family: Myriad;
}
small {
    font-size: 65%;
}

ul:not(.unstyled) li {
    margin-left: 1.5rem;
    list-style-type: disc;
}

code.light { /* light code like notion */
    font-family: monospace;
    display: flex;
    align-items: center;
    padding: .5ch;
    color: #eb5757;
    background-color: #ededeb;
    border-radius: .3ch;
}
code.dark { /* dark code like sublime */
    font-family: monospace;
    display: flex;
    align-items: center;
    padding: .5ch;
    background-color: #222;
    color: rgb(255, 77, 77);
    border-radius: .3ch;
}


/* Links */
a {
    cursor: pointer;
}
a.styled {
    color: #0000e1;
}
a.styled:not(.nounderline) {
    text-decoration: underline;
}
a.styled:hover,
.gradient-text,
.gradient-text * { /* gradient text onHover */
    color: #fa00f2; /* backup for browsers not supporting text gradient */
    background: -webkit-linear-gradient(45deg, #fa00f2 0%, #000acd 60%, #00299d 100%); /* blue/purple gradient text */
    font-family: AvenirMedium;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: underline; /* does not work because of -webkit-background-clip */
}
a.styled>.btn-red:hover { /* .btn-red hover color is white */
    background-clip: unset;
    -webkit-text-fill-color: white;
    color: white;
    font-family: Avenir;
}

/* > */

/* Form */
input, textarea {
    border: 1px solid black;
    background-color: #dde5ff;
    border-radius: 0.4rem;
    padding: 0.2rem 0.8rem;
}

input:invalid, textarea:invalid {
    background-color: #fde2f0;
}
  
input:hover, textarea:hover {
    background-color: #c4c9f2;
}
  
input:focus, textarea:focus {
    background-color: #d4e0fd;
}


/**|| Custom Class Elements */
.j_container {
    /* @apply w-[100%] mx-auto leading-7 py-10; */
    width: 100%;
    margin: 0 auto;
    line-height: 1.75rem;
    padding: 0 2.5rem;
}

/* Buttons */
.btn-red {
    background-color: #E21C21; /* red */
    color: white;

    /*border*/
    border: 2px solid #ED3A1E; /* slightly lighter */
    border-radius: 14px;
    font-size: 16px;
    padding: 8px 17px;
}
.btn-red:hover {
    background-color: #f9c44d;
    border-color: #ffd779;
}
.btn-red:active {
    background-color: #ffd064;
}

.j_max-w { /* page width */
    max-width: 800px;
}

/* > */


/* Specifics */
.MathJax>svg { display: inline; }
/* > */
